@import "../../assets/styles/variable";

.loading-container {
  position: fixed;
  width: 100%;
  max-width: $max-width;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);

  .loading {
    width: 100%;
    text-align: center;

    .desc {
      line-height: 30px;
      font-size: $font-size-medium-x;
      color: $color-text-l;
    }
  }
}
