@import "../../assets/styles/mixin";

.switches {
  @include flex();
  margin: 0 auto;
  overflow: hidden;

  .switch-item {
    width: 50%;
    text-align: center;
    font-size: $font-size-medium-x;
    padding: 5px;
    background-color: $color-theme;
    color: $color-text;
    transition: background-color .3s, color .3s;

    &.active {
      background-color: $color-text;
      color: $color-theme;
    }
  }
}
