@import "../../assets/styles/mixin";

.player {
  .normal-player {
    @include mask($position: fixed, $bgCol: $color-text);
    color: $color-background;
    text-align: center;
    transition: all .3s;
    z-index: 102;

    &.hide {
      transform: translateY(100%);
      visibility: hidden;
    }

    &.show {
      transform: translateY(0);
    }

    .background {
      @include mask();
      opacity: .6;
      filter: blur(40px);
      background-size: cover;
      background-position: center;
      transition: background .5s;

      img {
        height: 100%;
      }
    }

    .top {
      position: relative;

      .back {
        position: absolute;
        padding: 14px 20px;
      }

      .title {
        width: 70%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 50px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .subtitle {
        font-size: $font-size-medium;
        @include no-wrap();

        &:before, &:after {
          content: '—';
          opacity: .3;
        }

        &:before {
          margin-right: 10px;
        }

        &:after {
          margin-left: 10px;
        }
      }
    }

    .middle {
      white-space: nowrap;
      overflow: hidden;

      &.scroll-view {
        top: 80px;
        bottom: 140px;
      }

      .middle-l {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 0;
        padding-top: 80%;
        transition-duration: 300ms;

        .cd-wrapper {
          position: absolute;
          left: 10%;
          top: 0;
          width: 100%;
          height: 100%;

          .cd {
            width: 80%;
            height: 100%;
            border-radius: 50%;
            border: 10px solid rgba(0, 0, 0, .1);
            overflow: hidden;
            animation: rotate 20s linear infinite;

            &.pause {
              animation-play-state: paused;
            }

            &.play {
              animation-play-state: running;
            }

            @keyframes rotate {
              0% {
                transform: rotate(0);
              }
              100% {
                transform: rotate(1turn);
              }
            }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .playing-lyric-wrapper {
          text-align: center;
          color: $color-background;
          font-size: $font-size-medium-x;
          width: 80%;
          margin: 10px auto 0;

          .play-lyric {
            @include no-wrap();
          }
        }
      }

      .middle-r {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition-duration: 300ms;

        .lyric-wrapper {
          width: 80%;
          margin: 0 auto;
          overflow: hidden;
          text-align: center;

          .text {
            color: $color-background-b;
            font-size: 16px;
            line-height: 2.5;

            &.cur {
              color: $color-theme;
            }
          }
        }
      }
    }

    .bottom {
      position: absolute;
      bottom: 20px;
      width: 100%;

      .dot-wrapper {
        text-align: center;
      }

      .dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 20px;
        margin: 0 4px;
        background-color: $color-background-q-o;
        transition: width .3s;
      }

      .dot.active {
        width: 20px;
        background-color: $color-background;
      }

      .progress-wrapper {
        @include flex();
        align-items: center;
        margin-bottom: 10px;

        .progress-bar-wrapper {
          flex: 1;

          .progress-bar {
            width: 100%;
            padding: 15px 0;

            .bar-inner {
              height: 2px;
              background-color: $color-background-d;
              position: relative;

              .progress {
                background-color: $color-theme;
                height: 100%;
                width: 0;
              }

              .progress-btn-wrapper {
                position: absolute;
                top: -50%;
                margin-top: -16px;
                margin-left: -10px;
                padding: 10px;

                .progress-btn {
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                  background-color: $color-background;
                }
              }
            }
          }
        }

        .time {
          width: 20%;
          text-align: center;
        }
      }

      .operators {
        @include flex();
        justify-content: space-around;
        align-items: center;
        line-height: 1;

        .iconfont {
          font-size: $font-size-large-xx;
          color: $color-background;
          padding: 16px;

          &.like {
            color: $color-theme;
          }
        }

        .center {
          .iconfont {
            font-size: $font-size-large-xl + 20;
            padding: 0 16px;
          }
        }
      }
    }
  }

  .mini-player {
    @include flex();
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: $color-background;
    box-shadow: 0 -4px 8px rgba($color-text, .07);
    z-index: 99;
    transition: all .3s;

    &.hide {
      transform: translateY(100%);
      visibility: hidden;
    }

    &.show {
      transform: translateY(0);
    }

    .cd {
      position: relative;
      top: -5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 10px 0 5px;
      overflow: hidden;
      flex: 0 0 50px;
      animation: rotate 20s linear infinite;

      &.play {
        animation-play-state: running;
      }

      &.pause {
        animation-play-state: paused;
      }
    }

    .text {
      flex: 1;
      overflow: hidden;

      .name {
        @include no-wrap();
      }
    }

    .control {
      text-align: center;
      flex: 0 0 30px;
      padding: 10px;
      position: relative;

      .progress-circle {
        position: relative;

        svg {
          width: $font-size-large-xx;
          height: $font-size-large-xx;
        }

        circle {
          stroke-width: 10px;
          transform-origin: center;

          &.progress-bar {
            transform: scale(.9) rotate(-90deg);
            stroke: $color-text;
          }
        }
      }

      .iconfont {
        line-height: 1;
        font-size: $font-size-large-x;
      }

      .iconfont.play {
        font-size: $font-size-large-xx;
        position: absolute;
        top: 1px;
        left: 0;
      }
    }
  }
}
