@import "./variable";

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  font: $font-size-medium 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, sans-serif, 'Droid Sans Fallback';
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
}

a, body {
  color: $color-text
}

img {
  max-width: 100%;
}

.scroll-view {
  position: fixed;
  width: 100%;
  max-width: $max-width;
  top: 103px;
  bottom: 0;
}

.scroll-content {
  height: 100%;
  position: relative;
  overflow: hidden;
}
